# CODEOWNERS file
*  # Default owners for all other files

# Explicitly specify owners for specific files
!/.gitignore @C-Ivan-Bandilla
!/.gitignore.default @C-Ivan-Bandilla
!/.gitignore.development @C-Ivan-Bandilla
!/release.config.js @C-Ivan-Bandilla
